Repository SubtleTools/move-ts-file: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint-check, biome-check, typescript-check, tests

dprint-check:
  name: dprint format check
  entry: bun run format:check
  language: system
  pass_filenames: false

biome-check:
  name: biome lint check
  entry: bun run lint
  language: system
  pass_filenames: false

typescript-check:
  name: typescript type check
  entry: bun run typecheck
  language: system
  pass_filenames: false

tests:
  name: run tests
  entry: bun test
  language: system
  pass_filenames: false

docs: fix broken links and add essential documentation pages
  .astro/content-modules.mjs
  astro.config.mjs
  docs/content/docs/claude/refactoring.mdx
  docs/content/docs/features/barrel-exports.mdx
  docs/content/docs/features/import-styles.mdx
  docs/content/docs/installation.mdx
  docs/content/docs/introduction.mdx
  docs/content/docs/quick-start.mdx
Due: none

feat: enhance homepage with barrel export visualization and new Starlight plugins
  .astro/content-modules.mjs
  astro.config.mjs
  bun.lock
  docs/content/docs/index.mdx
  docs/content/docs/installation.mdx
  docs/public/d2/docs/content/docs/index-0.svg
  docs/public/d2/docs/content/docs/index-1.svg
  package.json
Due: dprint-check, biome-check

feat: complete documentation site with sidebar topics and comprehensive API docs
  .astro/content-modules.mjs
  astro.config.mjs
  bun.lock
  docs/content/docs/api/README.md
  docs/content/docs/api/classes/BarrelAnalyzer.md
  docs/content/docs/api/classes/ConfigLoader.md
  docs/content/docs/api/classes/ImportAnalyzer.md
  docs/content/docs/api/classes/PackageImportsResolver.md
  docs/content/docs/api/classes/PathResolver.md
  docs/content/docs/api/classes/RelativePathResolver.md
  docs/content/docs/api/classes/TsConfigPathResolver.md
  docs/content/docs/api/classes/TypeScriptFileMover.md
  docs/content/docs/api/interfaces/BarrelAnalysisResult.md
  docs/content/docs/api/interfaces/BarrelExport.md
  docs/content/docs/api/interfaces/FileUpdate.md
  docs/content/docs/api/interfaces/ImportReference.md
  docs/content/docs/api/interfaces/ImportTypeInfo.md
  docs/content/docs/api/interfaces/NamedExport.md
  docs/content/docs/api/interfaces/PackageImportsInfo.md
  docs/content/docs/api/interfaces/PathMappingInfo.md
  docs/content/docs/api/interfaces/TypeScriptFileMoverOptions.md
  package.json
Due: dprint-check, biome-check

docs: improve documentation
  .astro/content-modules.mjs
  .astro/data-store.json
  astro.config.mjs
  docs/content/docs/claude/refactoring.mdx
  docs/content/docs/cli-reference.mdx
  docs/content/docs/index.mdx
  docs/content/docs/introduction.mdx
  docs/content/docs/quick-start.mdx
  docs/content/docs/troubleshooting.mdx
  docs/public/d2/docs/content/docs/index-0.svg
  docs/public/d2/docs/content/docs/index-1.svg
Due: dprint-check, biome-check

fix: resolve CI test failure and docs build issue
  .github/workflows/docs.yml
  test/suites/monorepo-tests.test.ts
Due: dprint-check, biome-check, typescript-check, tests

fix: include bin directory in git tracking for CLI functionality
  .gitignore
Due: none

feat: add CLI binary to git tracking
  bin/move-ts-file.js
Due: dprint-check, biome-check

fix: clean up test artifacts and prevent CI conflicts
  .gitignore
Due: none

fix: use unique test directories for CLI tests to prevent conflicts
  .github/workflows/test.yml
Due: none

fix: replace require with ES module import in path-resolver
  src/path-resolver.ts
Due: dprint-check, biome-check, typescript-check, tests

refactor: simplify CI to test only latest Bun version
  .github/workflows/test.yml
  test-cli/src/main.ts
  test-cli/src/utils/test.ts
  test-cli/test-cli/src/lib/test.ts
  test-cli/test-cli/src/main.ts
Due: dprint-check, biome-check, typescript-check, tests

release: version 0.4.0
  .astro/content-modules.mjs
  package.json
Due: dprint-check, biome-check

feat: add version support and fix GitHub Actions workflow
  .astro/collections/docs.schema.json
  .astro/content-modules.mjs
  .astro/data-store.json
  .github/workflows/release.yml
  bin/move-ts-file.js
  docs/content/docs/api/classes/BarrelAnalyzer.md
  docs/content/docs/api/classes/ConfigLoader.md
  docs/content/docs/api/classes/ImportAnalyzer.md
  docs/content/docs/api/classes/PackageImportsResolver.md
  docs/content/docs/api/classes/PathResolver.md
  docs/content/docs/api/classes/RelativePathResolver.md
  docs/content/docs/api/classes/TsConfigPathResolver.md
  docs/content/docs/api/classes/TypeScriptFileMover.md
  docs/content/docs/api/interfaces/BarrelAnalysisResult.md
  docs/content/docs/api/interfaces/BarrelExport.md
  docs/content/docs/api/interfaces/FileUpdate.md
  docs/content/docs/api/interfaces/ImportReference.md
  docs/content/docs/api/interfaces/ImportTypeInfo.md
  docs/content/docs/api/interfaces/NamedExport.md
  docs/content/docs/api/interfaces/PackageImportsInfo.md
  docs/content/docs/api/interfaces/PathMappingInfo.md
  docs/content/docs/api/interfaces/TypeScriptFileMoverOptions.md
  package.json
Due: dprint-check, biome-check

fix: exclude auto-generated docs from formatting checks
  dprint.json
Due: dprint-check, biome-check

fix: use bun instead of npm in release workflow
  .github/workflows/release.yml
Due: none

fix: use npm for publishing with proper auth
  .github/workflows/release.yml
Due: none

chore: bump version to 0.4.2
  package.json
Due: dprint-check, biome-check

fix: improve npm auth setup in release workflow
  .astro/content-modules.mjs
  .github/workflows/release.yml
  package.json
Due: dprint-check, biome-check

fix: revert to standard npm auth and add whoami for debug
  .astro/content-modules.mjs
  .github/workflows/release.yml
  package.json
Due: dprint-check, biome-check

fix: switch CI from bun to npm to resolve integrity check failures
  .github/workflows/release.yml
Due: none

fix: use npm install instead of npm ci since no package-lock.json
  .github/workflows/release.yml
Due: none

fix: add package-lock.json and use npm ci with legacy-peer-deps
  .github/workflows/release.yml
  package-lock.json
Due: dprint-check, biome-check

fix: use bun install with retry and cache clearing for CI stability
  .github/workflows/release.yml
Due: none

fix: remove --provenance flag from npm publish
  .github/workflows/release.yml
Due: none

debug: add more npm auth debugging and try NPM_TOKEN env var
  .github/workflows/release.yml
Due: none

fix: try manual npmrc configuration to bypass auth issues
  .github/workflows/release.yml
Due: none

fix: sync package.json version and add actions permission
  .github/workflows/release.yml
  package.json
Due: dprint-check, biome-check

chore: remove unnecessary extra docs build when releasing
  .astro/content-modules.mjs
  .github/workflows/release.yml
Due: none

Path conditions:
  dprint-check: any of: \.(ts|tsx|js|jsx|json|md)$
  biome-check: any of: \.(ts|tsx|js|jsx|json)$
  typescript-check: any of: \.(ts|tsx)$
  tests: any of: \.(ts|tsx)$
